---
import "../styles/global.css";
import DonationModal from "../components/DonationModal.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import {
  language as defaultLanguage,
  locale as defaultLocale,
  siteName,
  socialImage,
} from "../data/campaign";
import { buildDonationConfig } from "../lib/donations/config";

interface AlternateLink {
  hreflang: string;
  href: string;
}

interface Props {
  title: string;
  description: string;
  canonicalUrl?: string;
  alternateLinks?: AlternateLink[];
  robots?: string;
  htmlLang?: string;
  socialTitle?: string;
  socialDescription?: string;
  socialImageUrl: string;
  ogType?: string;
  ogUrl?: string;
  ogLocale?: string;
  twitterDomain?: string;
  twitterUrl?: string;
}

const props = Astro.props;
const htmlLang = props.htmlLang ?? defaultLanguage;
const canonicalUrl = props.canonicalUrl;
const alternateLinks =
  props.alternateLinks ??
  (canonicalUrl
    ? [
        { hreflang: "es", href: canonicalUrl },
        { hreflang: htmlLang, href: canonicalUrl },
        { hreflang: "x-default", href: canonicalUrl },
      ]
    : []);
const robots = props.robots ?? "index, follow, max-image-preview:large";
const socialTitle = props.socialTitle ?? props.title;
const socialDescription = props.socialDescription ?? props.description;
const ogType = props.ogType ?? "website";
const ogLocale = props.ogLocale ?? defaultLocale;
const ogUrl = props.ogUrl ?? canonicalUrl;
const isSecureSocialImage = props.socialImageUrl.startsWith("https://");
const donation = buildDonationConfig(Astro.url.origin);
const microsoftClarityProjectId = "xduul4uyvv";
const googleAnalyticsMeasurementId = "G-EX089GZ90V";
const microsoftClarityScript = `
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", ${JSON.stringify(microsoftClarityProjectId)});
`;
const googleAnalyticsScript = `
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag("js", new Date());

  gtag("config", ${JSON.stringify(googleAnalyticsMeasurementId)});
`;
---

<!doctype html>
<html lang={htmlLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content={props.description} />
    <meta name="robots" content={robots} />
    <meta name="author" content={siteName} />
    <meta name="theme-color" content="#f7f7f2" />
    <meta name="application-name" content={siteName} />
    <title>{props.title}</title>
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
    {
      alternateLinks.map(({ hreflang, href }) => (
        <link rel="alternate" hreflang={hreflang} href={href} />
      ))
    }
    <meta property="og:type" content={ogType} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:locale" content={ogLocale} />
    <meta property="og:title" content={socialTitle} />
    <meta property="og:description" content={socialDescription} />
    {ogUrl && <meta property="og:url" content={ogUrl} />}
    <meta property="og:image" content={props.socialImageUrl} />
    {
      isSecureSocialImage && (
        <meta property="og:image:secure_url" content={props.socialImageUrl} />
      )
    }
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content={String(socialImage.width)} />
    <meta property="og:image:height" content={String(socialImage.height)} />
    <meta property="og:image:alt" content={socialImage.alt} />
    <meta name="twitter:card" content="summary_large_image" />
    {props.twitterDomain && <meta name="twitter:domain" content={props.twitterDomain} />}
    {props.twitterUrl && <meta name="twitter:url" content={props.twitterUrl} />}
    <meta name="twitter:title" content={socialTitle} />
    <meta name="twitter:description" content={socialDescription} />
    <meta name="twitter:image" content={props.socialImageUrl} />
    <meta name="twitter:image:alt" content={socialImage.alt} />
    <link rel="icon" href="/images/venezuela-flag.svg" type="image/svg+xml" />
    <link rel="alternate icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link
      rel="preload"
      href="/fonts/instrument-sans-latin-400-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/archivo-latin-400-900.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/barlow-condensed-latin-400.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/barlow-condensed-latin-900.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <slot name="head" />
    <script
      async
      src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsMeasurementId}`}
    ></script>
    <script set:html={googleAnalyticsScript}></script>
    <script type="text/javascript" set:html={microsoftClarityScript}></script>
  </head>
  <body>
    <SiteHeader />

    <slot />

    <SiteFooter />

    <DonationModal
      paypalUrl={donation.paypalUrl}
      paypalNotifyUrl={donation.paypalNotifyUrl}
      paypal={donation.paypal}
      amounts={donation.amounts}
      pagoMovil={donation.pagoMovil}
      binance={donation.binance}
    />
  </body>
</html>
